div.contentsquare{
  /*width:48%; height:48%; margin:4px; border:1px solid black; float: left;*/
  width:200px; height:200px; margin:4px; border:1px solid black; float: left;
}

.clear{
  clear:both;
}
