<div class="contentsquare">
  {{ content.contentsquare1 }} Test1
</div>
<div class="contentsquare">
  {{ content.contentsquare2 }}  Test2
</div>
<div class="clear">
</div>
<div class="contentsquare">
  {{ content.contentsquare3 }}  Test3
</div>
<div class="contentsquare">
  {{ content.contentsquare4 }}  Test4
</div>
