#sidebar-first .hello_block_blue-class{
    background-color: #0095ff;
}

#sidebar-first .hello_block_green-class{
    background-color: #00ff7e;
}

#sidebar-first .hello_block_orange-class{
    background-color: #ffd400;
}